:root {
  --purple: #e5b0fa;
  --light-pink: #ffcce1;
  --pink: #ff95da;
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
main {
  text-align: center;
  background-color: var(--purple);
  padding: 30px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5b0fa;
  background-image: url("../images/logo-header.png");
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
}
.subtitle {
  margin-top: 10rem;
  text-align: center;
  color: white;
  opacity: 40%;
}
.info {
  font-size: 2rem;
  font-style: italic;
  font-family: 'Fredoka', sans-serif;
}
nav {
  background-color: #FEB8D9;
  margin-bottom: 10px;
  z-index: 10;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}
ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
li {
  margin: 1rem 2rem;
  font-family: 'Fredoka', sans-serif;
}
li a { 
  font-size: 2rem;
  color: white;
  box-shadow: inset 0 0 0 0 var(--purple);
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
li a:hover {
  box-shadow: inset 125px 0 0 0 white;
  color: var(--purple);

}

.about-section {
  display: flex;
  justify-content: space-between;
  background-color: #FEB8D9;
  font-family: 'Fredoka', sans-serif;
  color: #494949;
  padding: 50px;
}
.about-right {
  margin-bottom: 15px;
}

.title {
  font-size: 6rem;
  color: white;
  text-shadow: 0 0 3px pink;
}
.about-description {
  font-size: 2rem;
  text-align: left;
}
.image-wrapper {
  position:relative;
  margin-right: 30px;
  justify-content: center;
  padding: 40px;
}
.avatar-image { 
  z-index: 1;
}
.triforce {
  position: absolute;
  z-index: 4;
  right: -10px;
  top: 510px;
}
.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--purple);
  font-family: 'Fredoka', sans-serif;
  color: #494949;
  margin-bottom: 5px;
  margin-top: 80px;
}
.divider-wrapper {
  margin-top: 25px;
  margin-bottom:15px;
}
.projects-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project-card {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  flex: 1 1 0px; 
  border-radius: 5px;
  max-width: 300px;
  min-width: 300px;
  flex-wrap: wrap;
}

.card-image {
  margin-right: 10px;
}
@keyframes pulse {
  0%,
  100% {
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.0);
  }
}

.pulse {
  animation: pulse 2s infinite;
}

.pulse:hover {
  transform: scale(1.23);
}

.card-title {
  color: var(--light-pink);
  margin-bottom: 2px;
}
.card-title h2 {
  font-size: 1.5rem;
}
.card-content p {
  font-size: 1.2rem;
}
.technologies p {
  color: white;
  font-weight: bold;
}
.contact-footer {
background-color: white;
height: 300px;
display: flex;
flex-direction: column;
align-items: center;
}
.contact-footer .title {
  font-size: 6rem;
  color: var(--purple);
  text-shadow: 0 0 3px pink;
  font-family: 'Fredoka', sans-serif;
}
.contact-wrapper {
  display: flex;
  flex-direction: row;
}
.icon-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px;

}
.contact-icon {
  height: 100px;
}
.contact-details {
  display: flex;
}
.contact-details p {
  font-family: 'Fredoka', sans-serif;
  margin-right: 5px;
  font-size: 1.5rem;
}
.contact-details a {
  font-size: 1.5rem;
  color: var(--purple);
  box-shadow: inset 0 0 0 0 white;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.modal-details {
  display: none;
}

.contact-details a:hover {
  box-shadow: inset 270px 0 0 0 var(--purple);
  color: white;
}
.modal-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 67;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'Fredoka', sans-serif;
}
.modal-content {
  background-color: rgba(255, 212, 237, 0.6);
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.modal-body {
  display: flex;
  justify-content: space-between;
}
.modal-image {
  width: 600px;
  height: 300px;
}
.modal-left {
  width: 50%;
  margin-right: 10px;
}
.modal-right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.modal-text {
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: white;
}
.modal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tech { 
  background-color: var(--purple);
  text-align: center;
}
.deployment-button {
  height: 50px;
  width: 40%;
  margin-right: 10px;
  background-color: var(--light-pink);
  border: 1px solid var(--pink);
}
.deployment-button a {
  font-size: 1.33rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Fredoka', sans-serif;
  
}
.repo-link {
  font-size: 1.33rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 3px pink;
}
.close {
  color: var(--purple);
  font-size: 50px;
  font-weight: bold;
  margin-right: 15px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* mobile media queries*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
 * {
  font-size: 10px;
 }
 main {
  padding: 10px;
 }
 header {
  height: 200px;
  background-size: 400px;
 }
 .avatar-image {
  height: 230px;
  width: 200px;
 }
 .about-section {
  padding: 15px;
  display: flex;
  flex-direction: column;
 }
 .title {
  font-size: 3rem;
 }
 .about-description {
  font-size: 1.5rem;
 }
 .image-wrapper {
  padding:20px;
  margin-right: 1px;
 }
 .triforce {
  right: 25px;
  top: 200px;
  height: 55px;
  width: 55px;
 }
 .projects-section {
  margin-top: 20px;
 }
 .heart-div {
  height: 30px;
  
 }
 .project-icon{
  height: 63px;
  width: 42px;
 }
 .contact-footer {
  height: 150px;
  bottom: 0;
  position: relative;
 }
 .contact-footer .title {
  font-size: 3rem;
 }
 .icon-wrapper {
  margin: 10px;
 }
 .contact-icon{
  height: 20px;
 }
 .contact-details p,
 .contact-details a {
  font-size: 1.2rem;
 }
 .contact-details {
  padding: 10px;
 };

 .modal-content {
  margin: 2% auto;
  padding: 10px;
  width: 65%;
  flex-direction: column;
 }
 .modal-body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .modal-left {
  margin-right: 70px;
 }
 .modal-right {
  margin-left: 0px;
 }
 .modal-image {
  width: 200px;
  height: 100px;
 }
}